@import url(akadylan.css);
.pogo {
  font-family: 'Slackey', cursive;
  position: relative;
}
.pogo .js {
  font-size: 0.45em;
  position: absolute;
  bottom: -0.2em;
  right: -1.25em;
}
header {
  color: #47c400;
  margin: 10pt;
}
header a {
  color: inherit;
  text-decoration: none;
}
header p {
  font-size: 2em;
  font-family: sans-serif;
}
body {
  background-color: #49006e;
  font-family: sans-serif;
}
.content {
  width: 89em;
}
p {
  font-size: 8pt;
  font-family: serif;
  margin-top: 4px;
  margin-bottom: 4px;
}
h1 {
  font-size: 12pt;
  margin-left: -25px;
}
h2 {
  font-size: 10pt;
  margin-left: -21px;
}
h1, h2 {
  background-color: #49006e;
  display: inline-block;
  padding: 5px;
  border-radius: 5pt;
  color: #47c400;
  margin-top: 3px;
  margin-bottom: 3px;
}
pre {
  margin-left: 16px;
  font-size: 8pt;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: rgba(73, 0, 110, 0.05);
}
.col {
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  margin-right: 1em;
  width: 18.5em;
  border-radius: 10pt;
  height: 54em;
  padding: 10px 10px 0 10px;
}
