@import url(fonts.css);
.pogo {
  font-family: 'Slackey', cursive;
  position: relative;
}
.pogo .js {
  font-size: 0.45em;
  position: absolute;
  bottom: -0.2em;
  right: -1.25em;
}
/*
 * THEME http://kuler.adobe.com/#themeID/1652699
 */
.pogo {
  font-family: 'Slackey', cursive;
  position: relative;
}
.pogo .js {
  font-size: 0.45em;
  position: absolute;
  bottom: -0.2em;
  right: -1.25em;
}
.keyword {
  font-weight: 700;
}
.operator {
  color: #4593e5;
}
.number {
  color: #32b544;
}
.string {
  color: #d80074;
}
body {
  margin: 0pt;
  background-image: url('../images/paper_cream.png');
  background-color: #efecda;
  color: #3d0000;
  font-family: sans-serif;
}
header {
  background-color: rgba(0, 0, 0, 0.05);
  color: #4593e5;
  text-align: center;
  padding: 0.5em;
  font-family: 'Slackey', cursive;
}
header .tagline {
  margin-top: 0;
  font-size: 1.4em;
}
header h1 {
  color: inherit;
  font-size: 6em;
  margin-left: auto;
  margin-bottom: 0.4em;
  float: none;
}
header h1 a {
  text-decoration: none;
  border: none;
}
header ul {
  list-style-type: none;
}
header ul li {
  display: inline-block;
  margin: 1em 1em;
}
header ul li a {
  padding: 0.5em 1em;
  border: dashed 1pt rgba(69, 147, 229, 0.3);
  text-decoration: none;
}
a {
  color: #4593e5;
  border-bottom: dashed 1pt rgba(69, 147, 229, 0.3);
  text-decoration: none;
}
.content {
  width: 600px;
  margin: auto;
  padding: 10pt;
  border-radius: 5pt 5pt 0 0;
}
h1,
h2,
h3,
h4 {
  font-family: 'Slackey', cursive;
}
h1 {
  color: #d80074;
}
h2 {
  color: #9503d9;
}
h3 {
  color: #32b544;
}
pre {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.05);
  color: #3d0000;
  position: relative;
  border-radius: 5pt;
  line-height: 1.8em;
  overflow-x: scroll;
  left: -100px;
  width: 800px;
  margin: 2em 0em;
}
.anatomy pre {
  line-height: 3em;
  padding: 3em;
}
p code {
  background-color: rgba(0, 0, 0, 0.05);
}
.content p {
  text-align: justify;
  font-family: 'Bitstream Vera Serif', serif;
  font-size: 12pt;
}
pre code {
  font-family: 'Monaco';
}
header {
  color: #47c400;
  margin: 10pt;
}
header a {
  color: inherit;
  text-decoration: none;
}
header p {
  font-size: 2em;
  font-family: sans-serif;
}
body {
  background-color: #efecda;
  font-family: sans-serif;
}
.content {
  width: 89em;
}
p {
  font-size: 8pt;
  font-family: serif;
  margin-top: 4px;
  margin-bottom: 4px;
}
h1 {
  font-size: 12pt;
  margin-left: -25px;
}
h2 {
  font-size: 10pt;
  margin-left: -21px;
}
h1, h2 {
  background-color: #efecda;
  display: inline-block;
  padding: 5px;
  border-radius: 5pt;
  color: #47c400;
  margin-top: 3px;
  margin-bottom: 3px;
}
pre {
  margin-left: 16px;
  font-size: 8pt;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: rgba(239, 236, 218, 0.05);
}
.col {
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  margin-right: 1em;
  width: 18.5em;
  border-radius: 10pt;
  height: 54em;
  padding: 10px 10px 0 10px;
}
