.dropdown {
  position: relative;
}
.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 160%;
  left: 0;
  background-color: #efecda;
  padding: 5pt 5pt;
  box-shadow: 1pt 1pt 3pt #888;
  border-radius: 5pt 5pt;
  min-width: 200px;
  z-index: 1;
}
.dropdown .dropdown-menu.notes {
  min-width: 400px;
}
.dropdown .dropdown-menu.notes .date {
  margin-left: 13px;
  font-size: 0.6em;
  opacity: 0.75;
}
.dropdown .dropdown-menu li {
  display: block;
  margin: 0;
  text-align: left;
  /* background-color: @code_block_background; */

}
.dropdown .dropdown-menu li a {
  padding: 3pt;
  border: none;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown-menu li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.open > .dropdown-menu {
  display: block;
}
