/*
 * THEME http://kuler.adobe.com/#themeID/1652699
 */
 
@import "colours.less";
@import url(fonts.css);
@import 'pogo.less';
@import 'code.less';

body {
  margin: 0pt;
  background-image: url('../images/paper_cream.png');
  background-color: @page_background;
  color: @content_foreground;
  font-family: sans-serif;
}
.header {
  background-color: @code_block_background;
  color: @blue;
  text-align: center;
  padding: 0.5em;
  font-family: 'Slackey', cursive;
  
  .tagline {
    margin-top: 0;
    font-size: 1.4em;
  }
  h1 {
    color: @blue;
    font-size: 6em;
    margin-left: auto;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
    float:none;
    a {
      text-decoration: none;
      border: none;
    }
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin: 1em 1em;
      a {
        padding: 0.5em 1em;
        border: dashed 1pt fade(@blue, 30%);
        text-decoration: none;
      }
    }
  }
}
a {
    color: @blue;
    border-bottom: dashed 1pt fade(@blue, 30%);
    text-decoration: none;
}
.content {
  width: 600px;
  margin: auto;
  padding: 10pt;
  border-radius: 5pt 5pt 0 0;
}
h1, h2, h3, h4 {
  font-family: 'Slackey', cursive;
}
h1 {
  color: @pink;
}
h2 {
  color: @purple;
}
h3 {
  color: @green;
}
pre {
  padding: 1em;
  background-color: @code_block_background;
  color: @code_foreground;
  position: relative;
  border-radius: 5pt;
  line-height: 1.8em;
  overflow-x: auto;
  width: 800px;
  margin: 2em -100px;
}
.anatomy pre {
    line-height: 3em;
    padding: 3em;
}
p code {
    background-color: @code_background;
}
.content p {
  text-align: justify;
  font-family: 'Bitstream Vera Serif', serif;
  font-size: 12pt;
}
pre code {
   font-family: 'Monaco', 'Courier', 'Courier New';
}
