/*
 * THEME http://kuler.adobe.com/#themeID/1652699
 */
 
@light: #FFFF41;
@base: #FF9900;
@header_base: #FF0000;
@dark: #3D211D;
@pogo_word: @base;
@header: @base;
@pogo_highlight: #8800CC;
@header_background: #8800CC;
@pink: #FF2C74;
@code_background: darken(@light, 15%);
@argument: #22bb22;
@operator: #ffaa33;
@parameter: #8888ff;

@import url(http://fonts.googleapis.com/css?family=Flamenco);
@import url(akadylan.css);

body {
  margin: 0pt;
  background-color: @light;
  color: @dark;
  font-family: sans-serif;
}
header {
  position: relative;
  background-color: @header_background;
  color: @header;
  text-align: center;
  padding: 0.5em;
}
header h1 {
  background-color: inherit;
  color: inherit;
  font-size: 6em;
  margin-left: auto;
  margin-bottom: 0.4em;
  float:none;
  font-family: 'akaDylan Plain', cursive;
}
a:visited, a:link {
    color: @light;
    background-color: @dark;
}
.content {
  width: 600px;
  margin: auto;
}
h1, h2, h3, h4 {
    background-color: @base;
    color: @dark;
    margin-left: -25px;
    display:inline-block;
}
pre {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 1em;
  width: auto;
  background-color: @dark;
  color: @pink;
  position: relative;
  border-radius: 5pt;
  line-height: 1.8em;
  overflow-x: scroll;
  left: -100px;
  width: 800px;
}
.anatomy pre {
    line-height: 3em;
    padding: 3em;
}
p code {
    background-color: @code_background;
}
.content p {
  text-align: justify;
}
pre code {
   font-family: 'Monaco';
}
.keyword {
  font-weight: 700;
}
.argument {
    color: @argument;
}
.operator {
    color: @operator;
}
.parameter {
    color: @parameter;
}
pre:hover .term.blue {
    background-color: rgba(0, 0, 255, 0.2);
}
pre:hover .term.red {
    background-color: rgba(255, 0, 0, 0.2);
}
pre:hover .term.yellow {
    background-color: rgba(0, 255, 255, 0.2);
}
pre:hover .term-description {
    display: inline;
}
.term-description {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
    color: yellow;
    line-height: 1em;
    white-space: normal;
    text-align: center;
}
.term {
    position: relative;
    padding: 4px 0px;
}
