@import url(fonts.css);
/*
 * THEME http://kuler.adobe.com/#themeID/1652699
 */
.pogo {
  font-family: 'Slackey', cursive;
  position: relative;
}
.pogo .js {
  font-size: 0.45em;
  position: absolute;
  bottom: -0.2em;
  right: -1.25em;
}
.keyword {
  font-weight: 700;
}
.operator {
  color: #4593e5;
}
.number {
  color: #32b544;
}
.string {
  color: #d80074;
}
.interpolated {
  color: #3d0000;
}
.comment {
  color: #32b544;
}
body {
  margin: 0pt;
  background-image: url('../images/paper_cream.png');
  background-color: #efecda;
  color: #3d0000;
  font-family: sans-serif;
}
.header {
  background-color: rgba(0, 0, 0, 0.05);
  color: #4593e5;
  text-align: center;
  padding: 0.5em;
  font-family: 'Slackey', cursive;
}
.header .tagline {
  margin-top: 0;
  font-size: 1.4em;
}
.header h1 {
  color: #4593e5;
  font-size: 6em;
  margin-left: auto;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  float: none;
}
.header h1 a {
  text-decoration: none;
  border: none;
}
.header ul {
  list-style-type: none;
}
.header ul li {
  display: inline-block;
  margin: 1em 1em;
}
.header ul li a {
  padding: 0.5em 1em;
  border: dashed 1pt rgba(69, 147, 229, 0.3);
  text-decoration: none;
}
a {
  color: #4593e5;
  border-bottom: dashed 1pt rgba(69, 147, 229, 0.3);
  text-decoration: none;
}
.content {
  width: 600px;
  margin: auto;
  padding: 10pt;
  border-radius: 5pt 5pt 0 0;
}
h1,
h2,
h3,
h4 {
  font-family: 'Slackey', cursive;
}
h1 {
  color: #d80074;
}
h2 {
  color: #9503d9;
}
h3 {
  color: #32b544;
}
pre {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.05);
  color: #3d0000;
  position: relative;
  border-radius: 5pt;
  line-height: 1.8em;
  overflow-x: auto;
  width: 800px;
  margin: 2em -100px;
}
.anatomy pre {
  line-height: 3em;
  padding: 3em;
}
p code {
  background-color: rgba(0, 0, 0, 0.05);
}
.content p {
  text-align: justify;
  font-family: 'Bitstream Vera Serif', serif;
  font-size: 12pt;
}
pre code {
  font-family: 'Monaco', 'Courier', 'Courier New';
}
