@import url(http://fonts.googleapis.com/css?family=Flamenco);

@import url(akadylan.css);
/*
 * THEME http://kuler.adobe.com/#themeID/1652699
 */
body {
  margin: 0pt;
  background-color: #ffff41;
  color: #3d211d;
  font-family: sans-serif;
}
header {
  position: relative;
  background-color: #8800cc;
  color: #ff9900;
  text-align: center;
  padding: 0.5em;
}
header h1 {
  background-color: inherit;
  color: inherit;
  font-size: 6em;
  margin-left: auto;
  margin-bottom: 0.4em;
  float: none;
  font-family: 'akaDylan Plain', cursive;
}
a:visited, a:link {
  color: #ffff41;
  background-color: #3d211d;
}
.content {
  width: 600px;
  margin: auto;
}
h1,
h2,
h3,
h4 {
  background-color: #ff9900;
  color: #3d211d;
  margin-left: -25px;
  display: inline-block;
}
pre {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 1em;
  width: auto;
  background-color: #3d211d;
  color: #ff2c74;
  position: relative;
  border-radius: 5pt;
  line-height: 1.8em;
  overflow-x: scroll;
  left: -100px;
  width: 800px;
}
.anatomy pre {
  line-height: 3em;
  padding: 3em;
}
p code {
  background-color: #f3f300;
}
.content p {
  text-align: justify;
}
pre code {
  font-family: 'Monaco';
}
.keyword {
  font-weight: 700;
}
.argument {
  color: #22bb22;
}
.operator {
  color: #ffaa33;
}
.parameter {
  color: #8888ff;
}
pre:hover .term.blue {
  background-color: rgba(0, 0, 255, 0.2);
}
pre:hover .term.red {
  background-color: rgba(255, 0, 0, 0.2);
}
pre:hover .term.yellow {
  background-color: rgba(0, 255, 255, 0.2);
}
pre:hover .term-description {
  display: inline;
}
.term-description {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 0px;
  right: 0px;
  color: yellow;
  line-height: 1em;
  white-space: normal;
  text-align: center;
}
.term {
  position: relative;
  padding: 4px 0px;
}
