<ul>
  <li>
    <div class="dropdown">
      <a class=btn class="dropdown-toggle" data-toggle="dropdown" href="#">Docs</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="/guide">Guide</a></li>
        <li><a href="/notes">Notes</a></li>
        <li><a href="/cheatsheet.html">Cheat Sheet</a></li>
        <li><a href="http://featurist.github.com/pogo-examples">JavaScript Translation</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <a class=btn class="dropdown-toggle" data-toggle="dropdown" href="#">Contact</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="http://twitter.com/pogoscript"><i class="icon-twitter"></i> Twitter</a></li>
        <li><a href="http://groups.google.com/group/pogoscript">Google Group</a></li>
      </ul>
    </div>
  </li>
  <li><a href="http://github.com/featurist/pogoscript"><i class="icon-github"></i> GitHub</a></li>
  <li><pre><code>npm install -g pogo</code></pre></li>
</ul>
