<ul class="links">
  <li>
    <a href="http://github.com/featurist/pogoscript"><i class="fa fa-github"></i> featurist/pogoscript</a>
  </li>
  <li>
    <pre><code>npm install -g <a href="https://www.npmjs.org/package/pogo">pogo</a></code></pre>
  </li>
</ul>
<ul class="menu">
  <li>
    <div class="dropdown">
      <h2>Docs</h2>

      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li>
          <a href="{{ site.baseurl }}/guide">Guide</a>
          <ul class="guide">
            {% for weight in (1..site.pages.size) %}
            {% for guide in site.pages %}
            {% if guide.guide %}
            {% if weight == guide.weight %}
            {{ '' }}
            <li>
              <a href="{{ site.baseurl }}{{ guide.url }}">{{ guide.guide }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/cheatsheet.html">Cheat Sheet</a></li>
        <li><a href="{{ site.baseurl }}/angular-cheatsheet.html">AngularJS Cheat Sheet</a></li>
        <li><a href="http://featurist.github.com/pogo-examples">JavaScript Translation</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <h2>Notes</h2>

      <ul class="dropdown-menu notes" role="menu" aria-labelledby="dLabel">
        {% assign index = true %}
        {% for post in site.posts %}
        <li><a href="{{ site.baseurl }}{{post.url}}">{{ post.title }} <span class="date">{{post.date | date: "%-d, %b %Y"}}</span></a></li>
        {% endfor %}
      </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <h2>Contact</h2>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="http://twitter.com/pogoscript"><i class="icon-twitter"></i> Twitter</a></li>
        <li><a href="http://groups.google.com/group/pogoscript">Google Group</a></li>
      </ul>
    </div>
  </li>
</ul>
