<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>PogoScript</string>
	<key>uuid</key>
	<string>2D3DFE36-10B6-42C6-B518-033BF2744F9C</string>
</dict>
</plist>
