<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style/main.css">
        <title>PogoScript</title>
    </head>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/highlighter.js"></script>
    <script type="text/javascript" src="/scripts/anatomy.js"></script>
    <body>
        <header>
        <h1><span class="pogo">pogoscript<span class="js">js</span></span></h1>
            <p class="tagline">(it's not for real programmers!)</p>
        </header>
    
        <div class=content>
            {{ content }}
        </div>
    </body>
</html>
