<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <title>PogoScript</title>
    <meta http-equiv="X-UA-Compatible" content="IE=7">
  </head>
  <body>
    <div class="header">
      <h1><span class="pogo">PogoScript<span class="js">js</span></span></h1>
      <p class="tagline">it's not for real programmers!</p>
      
      <ul>
        <li><a href="guide.html">Guide</a></li>
        <li><a href="cheatsheet.html">Cheat Sheet</a></li>
        <li><a href="http://featurist.github.com/pogo-examples">JavaScript Translation</a></li>
        <li><a href="http://github.com/featurist/pogoscript">GitHub</a></li>
      </ul>
    </div>
  
    <div class="content">
      {{ content }}
    </div>
    
    <script src='scripts/highlight.js' type='text/javascript'></script>
    <script src='scripts/highlight-pogo.js' type='text/javascript'></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
