<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/style/main.css">
        <link rel="stylesheet" type="text/css" href="/style/doc.css">
        <title>PogoScript: {{ page.title }}</title>
    </head>
    <body>
        <div class="header">
          <h1><a href="/">PogoScript</a> Notes</h1>
        </div>
        <div class="content">
          <h1>{{ page.title }}</h1>
          {% include post.html %}

          {% include disqus.html %}
        </div>
        
        {% include analytics.html %}
        {% include scripts.html %}
    </body>
</html>
